[2012-02-01 01:48] aaronjensen opened #1 "Support Helpers"
This gem seems to be more maintained than https://github.com/thegorgon/hamlbars but it has one advantage, it supports Rails helpers. Obviously the support is imperfect because there is no request while the template is building, but it is very helpful.

Thoughts?

[2012-02-01 20:38] jimsynz commented on #1
I gave some thought to this when I put the gem together. I decided that since most helpers require a request method there was too much possibility for developer confusion. I would think that it would be more appropriate to send a pull request to rails creating a sprockets safe helpers module?
Another option would be to delegate the safe methods to ActionView but it seems like a bad idea to manuall

[2012-02-01 20:56] aaronjensen commented on #1
agreed, it is dangerous. I'm not sure how a safety net would be put in place. Could we somehow monkey patch request to raise at the appropriate time? I haven't tried it yet, but I wonder what would happen during asset precompilation if you used one of these unsafe helpers.

I'm primarily interested in form helpers and such. Maybe if there was just an easy way to include helpers in an initializer o

[2012-02-04 05:13] jimsynz commented on #1
Hrm. I wonder if we can simply add a method_missing chain in our Helpers extension that will pass through safe methods, but NoMethod the bad ones?

[2012-02-04 05:32] aaronjensen commented on #1
Then we'd be maintaining a list of safe ones. Also, I'd think it'd be better to metaprogram them in rather than method_missing them. Of course, perf isn't a super critical thing in this because it's asset precompiled in production

[2012-02-05 19:17] jimsynz commented on #1
Agreed. Not sure the best way to do it, since everyone in the Rails community says doing this is A Very Bad Thing.

[2012-02-09 00:48] jimsynz commented on #1
I have added support in the latest commit, see README.md. Can you test and confirm that it works as expected in your use case?

Thanks.

[2012-02-09 03:22] aaronjensen commented on #1
The commit in my branch didn't actually seem to work, that's why I never actually issued a pull request. Did you test it/were you able to get it working? I was just trying it and moving machines so I pushed it up to github... it was never intended to make it in. I opened the issue in hopes you'd know a better (working) way. Sorry about the confusion.

[2012-02-09 03:25] jimsynz commented on #1
It appears to be working for me in my latest HEAD commit, at least he following template worked when I tried it:

[code]

[2012-02-20 18:44] #1 closed, assigned to nobody

[2012-02-24 00:30] aaronjensen opened #3 "Precompilation?"
It'd be great to borrow precompilation from https://github.com/leshill/handlebars_assets

[2012-02-24 00:32] aaronjensen commented on #1
Just to confirm, this is working for us as well, thanks!

[2012-02-24 03:12] jimsynz commented on #3
I was looking at the code in https://github.com/emberjs/ember-rails to add to both emberjs-rails and hamlbars, I'll take a look at handlebars_assets.

[2012-02-24 10:32] inkstak opened #5 "Block content seems escaped"
Hi,

I've upgraded to the latest version of Hamlbars and the hb blocks are now escaped.

I've seen you made a spec for that - 70f7e8bb3f8bfaa2f8db916c7c861e061aea5d60 - however It doesn't work on my rails app :

[code]

returns me :

[code]

I'll try to dive into that problem, and keep you inform..

[2012-02-24 11:13] inkstak commented on #5
The problem is around the Rails XSS safety, not the output itself.

I found a first approach : https://github.com/blakink/hamlbars/commit/005072236494ea9681b72babd310d2244de82e6c
But I guess it can be improved..

[2012-02-25 08:50] jimsynz commented on #5
Thanks for the patch.

[2012-02-25 08:50] #5 closed, assigned to nobody

[2012-02-25 10:52] inkstak commented on #5
You're welcome. Thanks for the gem :)

[2012-03-04 02:50] jimsynz commented on #3
I've been looking at this, but I need to fix the mixin alias method garbage first. :)

[2012-03-19 11:49] tscolari opened #9 "NoMethodError: undefined method `output_buffer=' for"
Hello, I'm getting this error message when trying to compile my .js.hamlbars file:

[code]

My template looks like this:

[code]

I had the helpers enabled with

[code]

because I need some assets handling helpers

[2012-03-19 13:16] tscolari opened #10 "Template options for ember"
Hello, maybe I'm  missing something, but the template options doesn't seem to work at my project. I created an initializer with:

[code]

I'm using ember-rails (not emberjs-rails) - https://github.com/emberjs/ember-rails, the output javascript comes like this:

[code]

I was expecting something like this:

[code]

did I miss anything or this is not supposed to work this way?

[2012-03-20 00:51] jimsynz commented on #10
Are you using a Gem version or HEAD? Which version?

[2012-03-20 17:32] tscolari commented on #10
I'm using the rubygems' version: hamlbars (2012.2.22)

[2012-03-20 23:04] jimsynz commented on #10
Hi there.  Can you try the latest gem (2012.3.21) master and change your initializer to:

[code]

This should give you the output you are looking for (works for me, at least).

[2012-03-21 14:34] tscolari commented on #10
Thank you, the left side is perfect.
I'm don't know much about ember/handlebars, but the right side of the assignment still different, does it matter?

for example, a pure .handlebars file would generate something like this:

[code]

while the .hamlbars (of a different template) was:

[code]

Ember.Handlebars.compile vs Handlebars.template

I'm asking because some bindings in my view aren't workin

[2012-03-21 20:17] jimsynz commented on #10
It's serving an uncompiled temlpate, meaning that the client is compiling the template. This doesn't really matter in development, but is important in production.  I have added support to compile the output but it needs to use different compilers for Ember vs Handlebars, so I have to do a little more work on that front.

[2012-04-11 22:19] jimsynz commented on #9
I'm guessing that this wont work because one of the helpers you're using is trying to access the request object.  Can you post the full backtrace?

[2012-04-15 08:57] inkstak commented on #9
I got the same.. The problem is around the form_for helper.

My template :

[code]

And the top lines of the full backtrace :

[code]

Let's investigate...

[2012-04-15 09:25] inkstak commented on #9
It seems the problem is already known : https://github.com/sstephenson/sprockets/issues/218

[2012-04-15 20:59] jimsynz commented on #9
So sounds like it's just something that's unsupported due to the way the helpers are implemented.  @blakink, should we just close this issue?

[2012-04-15 21:04] tscolari commented on #9
If you could take a look at https://github.com/infbio/haml_assets, they don't support handlebars, but haml on assets pipeline.
They figured out a way to render these kind of helpers on version >= 0.1.0.
I'm not sure, but I think it's this commit: https://github.com/infbio/haml_assets/commit/5c1fc8f4d401453f437df37ba3826a9e03b63cd1

[2012-04-20 13:59] joliss opened #11 "Drop .hbs extension support?"
[Ember-rails](https://github.com/emberjs/ember-rails) supports the .hbs extension for plain Handlebars templates. It seems reasonable to me to interpret "hbs" as standing for Handlebars, rather than the less common Hamlbars.

How about dropping .hbs support in Hamlbars to avoid ambiguity?

[2012-04-20 14:03] joliss opened #12 "Follow semver"
I think you'll run into problems if you ever want to switch to [normal version numbers](http://semver.org/), since 2012.3.21 > 1.0, I presume.

To avoid major pains for users when this gem becomes more popular, how about switching now (releasing 0.1 or 1.0) and yanking all 2012.\* versions?

[2012-04-20 20:25] #11 closed, assigned to nobody

[2012-04-20 20:25] jimsynz commented on #11
Makes sense. Changed in 0cc373c6e11588114beb797e5355a6a15433d61f.

[2012-04-20 20:29] jimsynz commented on #12
I think this is pretty difficult since there are already a bunch of people using it. I'd be interested in hearing opinions from some others first.

[2012-04-20 21:37] joliss commented on #12
Right, yanked gem versions stop being installable [even when they are listed in Gemfile.lock](https://github.com/rubygems/rubygems.org/issues/296). My thinking was that as hamlbars is only a few months old, it's likely that people aren't using it in bigger production sites yet.

Sounds reasonable.

[2012-04-23 20:21] beghbali opened #14 "undefined method `register_engine' for Sprockets:Module (NoMethodError)"
I'm using:
- coffee-rails (3.1.1)
- ember-rails (0.4.0)
- haml (3.1.4)
- hamlbars (2012.3.21 d820100)
- rails (3.1.3)
- sprockets (2.0.3)

I get this error when starting up server. adding the following line to hamlbars.rb fixes it:
require 'sprockets/engines'

[2012-04-24 01:54] jimsynz commented on #14
just to confirm - you are running from Rails, right?

[2012-04-24 04:42] beghbali commented on #14
yes. Rails on unicorn.

[2012-04-25 21:12] botandrose commented on #12
+1

[2012-04-25 21:18] botandrose opened #15 "Support #if - else statements?"
currently,

[code]

compiles to

[code]

I didn't see anything in the README or specs for handling this.

[2012-04-25 21:27] jimsynz commented on #15
Hi.

Yeah, it's a bit nasty, but you do it this way:

[code]

Note the indenting of else.  Makes it a bit hard to spot visually, but it's there because `{{else}}` is a helper function which only makes sense within the context of an `#if` or `#unless` block helper.

[2012-04-25 21:34] jimsynz commented on #14
I can't see how this can happen, since Sprockets should be required in `config/application.rb`

[code]

Can you check it?

Ta.

[2012-04-25 21:37] jimsynz commented on #12
Okay, so if we were to do it then what's the plan?  There are already ~1800 downloads in the wild (according to rubygems) so perhaps rather than yanking them we should just pick an arbitrarily large version number and start from there?

[2012-04-25 21:59] joliss commented on #12
Let's ask @drbrain, he might know. Eric, James is trying to get from version "2012.3.21" to version "1.0.0". The problem is that 2012.3.21 > 1.0.0. Is there a recommended way to do this kind of switch? Simply yanking all the old 2012.x.y versions might cause some disruption.

[2012-04-25 22:12] joliss commented on #12
(In other words, he's trying to switch the versioning scheme for his gem from "2012.x.y" to "1.x.y".)

[2012-04-25 23:43] beghbali commented on #14
I have
require 'rails/all'
I tried adding those requires manually but I still get the error when starting up.
Any gems that may conflict with hamlbars?
While I have your attention, How do I use hb in haml attributes?:
%tr.team{:bind => {:id => 'dom_id(team)'}}

[2012-04-26 18:54] botandrose commented on #15
Thanks, this does indeed work! That implementation makes sense, if not ideal syntax. I suppose the ideal long-term goal  would be to modify haml itself so that the hb helper is unnecessary, and the standard haml - if / - else just compiles into mustache like one would naively expect.

[2012-04-26 19:00] jimsynz commented on #15
I'm not sure that's possible because we don't know at compile time what helpers are defined in your environment. Ember and Handlebars define different implementations of some helpers and some are missing from the other, etc - not to mention any you register for yourself. I think the HB helper will be sticking around for a while.

[2012-04-26 19:00] #15 closed, assigned to nobody

[2012-04-26 19:01] jimsynz commented on #14
In response to your latter question, the hash argument to a tag is just plain old ruby, so you can just do:

[code]

or even:

[code]

[2012-04-26 19:19] botandrose commented on #15
Ah, I see. I think we have different use-cases. I'm looking for something that's essentially an alternate haml syntax to handlebars, where this project is haml helpers for generating handlebars tags.

I'll try forking elia/haml2erb and see how close that gets me.

[2012-04-26 20:49] jimsynz commented on #15
good luck! Keep us informed if you come up with something.

[2012-04-26 20:51] beghbali commented on #14
James, my latter question was about how I can use js/coffee script in the tags. I am using hamlbar templates with Ember.js and I need to set some attributes based on the Ember object being rendered. My understanding was that the request for the hamlbar doesn't come to server in Ember and is precompiled in the js loaded on the client. Is there a way to set attributes based on handlebars so in the e

[2012-04-26 20:54] botandrose commented on #15
Thanks! Just pushed out 0.0.1 of haml2handlebars : https://github.com/botandrose/haml2handlebars . It appears to work, and the tests pass, but I haven't tried it in a Rails app yet! Starting a new gem to integrate it into the asset pipeline. I suppose I'll subclass Tilt::Template like you did? You know, come to think of it, I'll just try forking this and replacing the guts wiith haml2handlebars.

[2012-04-26 23:58] jimsynz commented on #14
I'm not quite sure that I understand your question, but take a look at http://hamlbars-demo.herokuapp.com/ and see if it gives you some pointers.

[2012-04-27 16:58] tscolari opened #16 "Moving javascripts to vendor/assets/javascripts?"
Hello,
I'm trying to use this gem with backbone, and it would be useful for me if the javascripts could be into the assets folder, so I can link them in my manifest.

If this is not a problem internally, I would love ithis :)

[2012-04-27 21:34] drbrain commented on #12
You'll need to yank all the 2012.x.y versions to have 1.x.y be greater.

You could re-upload them as 0.2012.x.y to keep the old versions available, but those links will be gone.

You could also jump to an arbitrary future version like 3000 and start semver from there.

[2012-04-27 23:00] jimsynz commented on #12
Thanks Eric. I'd like to do a 1.0 release but I'd like to refactor the tests first and get compilation for handlebars and ember working nicely. Also I'd like to include a gem binary and support for rake pipeline. @joliss I'd really appreciate some pulls if you have time.

##

James Harton
sociable.co.nz
@jamesotron
+64226803869

On Saturday, 28 April 2012 at 9:34 AM, Eric Hodel wrote:

[2012-04-28 01:41] jimsynz commented on #16
You mean the ember and handlebars ones? I think you're better off using ember-rails and handlebars-rails which will vendor the assets correctly and keep in sync with the upstream versions.  I will only be upgrading the runtime versions included with hamlbars when there is a breaking change with the way templates are compiled.

[2012-04-28 12:47] joliss commented on #12
Yes, thanks Eric, that's very helpful!

James Harton reply@reply.github.com
wrote:

Maybe push 1.0 and defer those things for 1.1 and 1.2? You could mark
the existing precompile support as alpha/experimental.

I'll keep hamlbars in mind for some coding love.

[2012-04-28 21:12] jimsynz commented on #12
Thanks for your help @joliss. Closing.

[2012-04-28 21:12] #12 closed, assigned to nobody

[2012-04-30 22:41] ramz15 opened #20 "Error: Could not find hamlbars-2012.3.21 in any of the sources"
Looks like hamlbars-2012.3.21 was deleted and changed the version to hamlbars-1.0

I am now getting this error via the emberjs-rails gem when trying to push to Heroku:

   Could not find hamlbars-2012.3.21 in any of the sources

Is there another work around for this?

Thanks!

[2012-04-30 22:52] ramz15 commented on #20
Fixed this by adding
    gem 'hamlbars', "~> 1.0.0"
to my Gemfile and doing a:
    bundle update hamlbars

[2012-04-30 22:52] #20 closed, assigned to nobody

[2012-05-01 21:52] ghost commented on #10
+1 on this issue.  Workaround listed above didn't work.

[2012-05-02 12:48] tscolari opened #21 "Strange behavior when precompiling assets"
I'm having a very strange error when I try to precompile assets using hamlbars.
If I rename the templates to jst.eco, everything runs fine:

[code]

But, if I move them back to .js.hamlbars, this is what I get:

[code]

It seems that, when I use it, sass get lost loading it's includes. This only happens if I request the templates on my js manifest, and only when compiling assets. In development mo

[2012-05-02 14:00] tscolari commented on #21
I think something is messing the load paths. I'm trying to trace the error here, it seems that after compiling hamlbars, for some reason, sass/sprockets stop loading subfolders with sass patials.

for example, given the structure:

[code]

Sass get lost on the `include clearfix`, but using `@include 'mixins/clearfix'` works.
Im looking on some sass issues to see of there is anything there.

[2012-05-02 20:49] jimsynz commented on #21
That's pretty weird (and also not happening for me), but I haven't used any sass partials.  Can you try and come up with a minimal example that I can take a look at?

[2012-05-29 21:53] joliss commented on #12
@drbrain Just an update on this in case you're interested: Yanking the 2012.x.y versions and pushing 1.0.0 worked for new users, but bundler users wouldn't get upgraded to 1.0.0 when they called `bundle update`, without specifying `~> 1.0`.

Oh well.

[2012-06-06 12:09] javierav opened #23 "Support templates root"
Like ember-rails do: https://github.com/emberjs/ember-rails#architecture

If I have this file app/assets/javascripts/templates/admin_panel.hamlbars, the translated version is:

Ember.TEMPLATES['templates/admin_panel'] = "...";

I think that you could do add some logic like Hamlbars::Template.templates_root = 'templates' and the result be:

Ember.TEMPLATES['admin_panel'] = "...";

[2012-06-11 11:02] petejkim commented on #10
+1

[2012-06-11 21:31] jimsynz commented on #16
See #24.

[2012-06-11 21:31] #16 closed, assigned to nobody

[2012-06-11 21:35] jimsynz commented on #23
Sounds great, as long as it's not a breaking change.  Feel free to send a PR.

[2012-06-19 16:46] awt opened #25 "Handlebars.templates missing in ember.js master branch?"
I've been going through the process of upgrading to ember.js master branch, and it appears that Handlebars.templates no longer exists, which causes an error when hamlbars attempts to set Handlebars.templates["path/to/template"].

It could very well be that something else in my code is busted, but I wanted to ask if you could point me anywhere to make sure that the handlebars library still supports

[2012-06-19 20:00] jimsynz commented on #25
Have you tried adding

[code]

to an initializer?

[2012-06-19 23:58] awt commented on #25
Gah!  I was not using that.  Up to now I'd been using emberjs-rails, and just switched to ember-rails to be able to use the latest version of ember ( to get access to routing capabilities ).

I am now.  I've verified that the snippet you pasted is being called in the initializer I added, but I'm still seeing this:

Handlebars.templates["requester/views/browse"] = Handlebars.compile{etc.........}

[2012-06-20 04:19] jimsynz commented on #25
What gem version are you using?

[2012-06-21 00:39] awt commented on #25
I'm using 1.0.  I tried actually removing the hamlbars gem from my Gemfile, restarting rails and clearing my browser cache and the Handlebars.templates... lines were still at the bottom of my app.js file.  Something very strange is going on with my setup.

[2012-06-21 00:45] jimsynz commented on #25
Try nuking the contents of tmp/cache/ and public/assets/

##

James Harton
sociable.co.nz
@jamesotron
+64226803869

On Thursday, 21 June 2012 at 12:39 PM, Adam Thorsen wrote:

[2012-06-21 00:57] awt commented on #25
Bingo!  Thanks a lot.  I totally forgot about those two caches.

[2012-06-21 20:37] jimsynz commented on #25
Great, so this issue can be closed?

[2012-06-21 20:37] awt commented on #25
Closing.

[2012-06-21 20:37] #25 closed, assigned to nobody

[2012-06-25 23:16] jimsynz commented on #15
For people who find this via google, take a look at https://gist.github.com/2992040 if you're having issues.

[2012-06-27 06:09] jimsynz commented on #21
@tscolari any updates or should I close this issue?

[2012-06-27 06:11] jimsynz commented on #14
@beghbali any updates on this issue or should I close it?  Thanks.

[2012-06-27 06:18] jimsynz opened #26 "Planing for 1.1 Release."
@aaronjensen @blakink @joliss I'm planning on cleaning up the remaining issues and doing a 1.1 release some time this month.  Can I have some comments or thoughts from you guys on what you think needs doing?

I am seriously thinking of ripping out a lot of the code we have here and instead depending on projects like `haml_assets` and `handlebars_assets` and `ember-rails` to do all the work that ne

[2012-06-27 06:22] beghbali commented on #14
Go ahead and close it. I am not running into in in latest projects.

On Tue, Jun 26, 2012 at 11:11 PM, James Harton <
reply@reply.github.com

##

Bashir Eghbali

bashireghbali.com
linkedin http://www.linkedin.com/in/bashireghbali

[2012-06-27 06:23] jimsynz commented on #14
Thanks.

[2012-06-27 06:23] #14 closed, assigned to nobody

[2012-06-27 06:35] inkstak commented on #26
Hi,

I didn't used Handlebars these last days, so I have no idea about what I can need.
However, about the dependencies, you must exclude ember-rails. I used Handlebars without EmberJS, so I don't see why I should depend on.

[2012-06-27 10:40] #21 closed, assigned to nobody

[2012-06-27 10:40] tscolari commented on #21
I don't have news on this.
We had our templates changed for coffeescript for other reasons.

[2012-06-27 22:44] aaronjensen commented on #26
Makes sense to me to take on dependencies from handlebars_assets and haml_assets, though it could very well be easier for you not to… the code you're thinking about ripping out is already written, and it's nice not to depend on the internal api of other projects you don't control… I'm not sure about the ember-rails dependency though, what do you need from that?

On Tuesday, June 26, 2012 at 11:18

[2012-06-27 23:33] jimsynz commented on #26
Mainly what I want to depend on ember-rails and handlebars_assets for is the runtime javascript that is needed for compilation. Keeping a copy in hamlbars and in sync with upstream seems like a waste of time when others are already doing the work.
It looks like handlebars_assets doesn't support compiling templates for ember, but that seems to be the most common use case (that I get feedback about,

[2012-07-02 04:30] aaronjensen commented on #26
Any way to extract the things that are common to them into a gem that you can all depend on? Just curious since that seems like a better way than depending on projects that may have different uses.

On Wednesday, June 27, 2012 at 4:33 PM, James Harton wrote:

[2012-07-02 16:40] joliss commented on #26
Regarding precompilation, it seems to me that there are really two separate issues:
- Compiling Handlebars without Ember (Handlebars.precompile): To my understanding hamlbars does this already, but perhaps we can rely on handlebars_assets instead.
- Compiling Handlebars with Ember (Ember.Handlebars.precompile): You have to load ember-handlebars to do this, and it needs to be the same Ember version

[2012-07-02 20:43] jimsynz commented on #26
@joliss I don't believe that the Ember handlebars code has changed in a long while, making it reasonably safe to use, and why I had suggested depending on ember-rails - it might be better to just look for ember rails and offer the ability to compile the assets using it if it's present.

[2012-07-02 21:13] joliss commented on #26
Right, that's what I was thinking -- detect at runtime if ember-rails is around. Here's code from Capybara that does this with launchy: https://github.com/jnicklas/capybara/blob/d76987f121/lib/capybara/util/save_and_open_page.rb#L24

[2012-07-05 14:33] inkstak opened #27 "Hamlbars fails with Haml 3.2"
Hi,

I tried to use hamlbars, with the latest version of haml :

[code]

.. and got the following error, when launching rails :

[code]

It works fine with haml 3.1.x.

[2012-07-05 21:47] jimsynz commented on #27
Thanks for the report. I'll start looking into it.

[2012-07-18 22:41] dguzzo opened #28 "template output configuration (when not using Ember) isn't working"
my initializer, **hamlbars.rb** has this:

[code]

yet the compiled javascript (in the browser) results to this:

[code]

(the 'testtest' string is a good sign, as my products.js.hamlbars template and its content is being loaded properly)

i did some digging around in the hamlbars gem source itself with a colleague, and we couldn't figure out why the override wasn't working. though it does look li

[2012-07-20 04:15] jimsynz commented on #28
I know, it's weird. It happens to me too, but I don't have time to fix it (I just started a new job), so in the mean time try:

[code]

Let me know if that works for you.

[2012-07-21 02:32] dguzzo commented on #28
Thanks for the response, James. I definitely understand about not having enough time. Perhaps I'll try to find the bug and fix it, although I'm still relatively new to Ruby and usually don't muck around in gem internals but rather stay up at the Rails level.

As for your suggestion, that would only work if using Ember, right? We're already using Backbone on the project in question, as well as a nu

[2012-07-21 02:33] jimsynz commented on #28
Oh sorry, I misunderstood. Usually people are asking to change the template configuration to make it fit for ember :)

##

James Harton
sociable.co.nz
@jamesotron
+64226803869

On Saturday, 21 July 2012 at 2:32 PM, Dominick wrote:

[2012-07-23 17:30] joliss opened #29 "New {{action}} syntax in Ember"
The syntax of the {{action}} helper was recently changed ([83b7a61a](https://github.com/emberjs/ember.js/commit/83b7a61a892e55423cf1e66f606b13435bcab8f0)), so Hamlbars doesn't work with Ember master anymore.

Should we just update it to use the `context` option as the first argument to {{action}}?

I'm honestly a bit unhappy with the verbosity of our current syntax, so I wonder if we should improv

[2012-07-23 18:02] joliss commented on #29
I'm volunteering a PR btw. Let me know what you think.

[2012-07-23 20:52] jimsynz commented on #29
That sounds great. It's pretty easy to support both the old and proposed syntaxes by just testing for hashiness. Go for it :)

[2012-08-11 22:51] artzte commented on #29
There is an unfortunate collision with form action attributes with this. How about calling it ember-action or just use the old event keyword with a plain string with the new syntax?

[2012-08-13 22:17] #29 closed, assigned to nobody

[2012-08-14 01:52] jimsynz commented on #27
This has been fixed with #30. Can you verify your app with Hamlbars 1.1?

[2012-08-14 01:52] #26 closed, assigned to nobody

[2012-08-14 07:04] inkstak commented on #27
It works fine. Thanks !

[2012-08-14 07:04] #27 closed, assigned to jimsynz

[2012-08-14 07:23] jimsynz commented on #27
Yay!

[2012-09-07 07:38] machty commented on #23
The solution seems simple enough, so I started working on this, and then I realized it would cut out a particular use case for a project I'm working on. Basically, it would be nice if there were someway to specify a templates_root based on the root JS file that's being compiled, rather than specifying a one-size-fits-all template root. The use case in mind: I have a Rails app that servers two diff

[2012-09-07 08:53] jimsynz commented on #23
To be honest, I don't think this is a Hamlbars concern - I would think this is an app concern.  Seriously I would add a `before_filter` check in my `ApplicationController` for which app I need to serve and have it modify the arguments to `javascript_include_tag` to include a link to the relevant Sprockets JS manifest.

If you're really that stressed about typing a few extra characters in when crea

[2012-09-07 09:07] machty commented on #23
Yeah, that'd work. I already have it branching properly via another mechanism. Just thought I'd DRY it out even more.

[2012-09-07 09:09] jimsynz commented on #23
I'm not adverse to you doing that and sending a PR, I'm just not entirely convinced that there is a cleaner way of doing it without making it non-obvious what is going on if anyone else should have to work with it.

[2012-09-13 21:23] michaelbaudino opened #34 "Uncompiled code is returned using Ember templates"
Hello,

I'm trying to use Hamlbars in a Ember/Rails project to write my Handlebars templates in HAML, but I can't figure out how to make it work (see below for version numbers).

I've installed Hamlbars using Bundler (gem is hamlbars 1.1.0), then added `Hamlbars::Template.render_templates_for :ember` to an initializer, but the HAML code does not seem to be compiled.

Here is my `app/assets/javascr

[2012-10-08 14:31] LevelbossMike commented on #10
Is this issue already solved? I am seeing the exact same behavior and am not able to solve this with the workaround above. I am using the current version ~> 1.1 from ruby gems

_edit_
I think I have found the reason for my problem. The initializers that setup Hamlbars for usage with Ember are not getting called before asset compilation. I guess the second answer fixes the problem.

http://stackove

[2012-10-09 23:56] beghbali commented on #3
How are you guys handling heroku deployments with initialize_on_precompile=false. I can't get the hamlbar/ember templates to compile it seems.

[2012-10-22 16:45] machty commented on #15
this isn't PR-ready (needs test cases), but here's a fork that allows for the following syntax for anyone who's interested:
      # = hb 'if someprop' do
      #   %p it was true
      # = hb 'else' do
      #   %p it was false

https://github.com/machty/hamlbars

[2012-10-25 03:54] apolzon opened #35 "Closures not being used"
Both the closure and precompile modules are not firing as expected.  I believe I tracked it down to the evaluate_without_precompile/closure method already being defined.  For precompiling, I was able to get it to work properly by changing the evaluate alias to use _with_js_precompiler, however the same hack on the closure module did not help.

Without closures (I'm pretty sure this would not fine

[2012-10-26 03:48] jimsynz commented on #35
You're right. I think I need to redesign the way that this behaviour is being added, perhaps with something more like an `after_render` filter.

[2012-10-31 08:16] jshou opened #36 "Doesn't work with latest handlebars"
The latest handlebars doesn't define a Handlebars.templates object, which causes hamlbars to fail.

[2012-10-31 18:19] mehulkar opened #37 "context doesn't get passed in an ember action"
[code]

[code]

target gets specified fine, but the context object doesn't get passed through :(

[2012-10-31 19:36] joliss commented on #37
The Ember syntax got changed. Now you just pass the context like an argument:

[code]

For future reference, this would really be an Ember question. Hamlbars just passes the string through. #emberjs on Freenode or Stackoverflow tend to be good places to ask these kinds of questions.

[2012-10-31 22:16] #37 closed, assigned to nobody

[2012-11-06 04:05] jimsynz commented on #36
Hi @jshou. Can you try using the v2.0 branch in conjunction with handlebars_assets? The v2.0 branch completely removes all the compilation code from hamlbars, and just outputs a rendered handlebars template for the upstream gem to process.

[2012-11-06 04:10] jimsynz commented on #28
Can you try using the v2.0 branch in conjunction with the handlebars_assets gem? In v2.0 I've completely removed all compilation code from Hamlbars and it just outputs straight up handlebars templates, meaning you can use another gem like handlebars_assets to do the compilation you need.

[2012-11-06 04:13] jimsynz commented on #23
So, I've been working in the v2.0 branch to see what it's like using other gems for the compilation, and I noticed that ember-rails is doing this, if I have a file `templates/mytemplate.hbs.hamlbars` then it loads it into Ember.TEMPLATES as 'mytemplate'. Two birds with one stone :)

[2012-11-06 05:47] jshou commented on #36
Hi @jamesotron, I added handlebars_assets to the assets group in my Gemfile, and set my Gemfile to use hamlbars with branch v2.0. My template still looks like this, though:

[code]

It throws an exception because Handlebars.templates is undefined.

[2012-11-06 14:07] machty commented on #23
Nice! I'll definitely be making the switch

[2012-11-12 15:40] brutuscat commented on #28
@jamesotron how to configure rails pipeline so that handlebars_assets picks up the output of hamlbars and the templates gets compiled in the server side?

[2012-11-12 19:54] jimsynz commented on #28
Easiest way is to just chain the file extensions, so your template would be renamed from `mytemplate.js.hamlbars` to mytemplate.js.hbs.hamlbars` - I've just double checked, and this works without any server config in a fresh Rails install with these two gems installed.

[2012-11-12 20:46] brutuscat commented on #28
Interesting... Actually now I removed hamlbars and I'm using plain haml. For me this >

[code]

is better than trying to adapt haml usin `hb` helper

Why do you think it is better to use hamlbars?

Thanks!

[2012-11-12 20:50] jimsynz commented on #28
I find the `hb` helper to be a little easier for things like hash arguments, etc. I'd like to figure out a nice way to add a new expression type to haml, but haven't figured that out yet :)

[2012-12-12 06:59] thepixelmonk commented on #34
I am getting this as well.

[2012-12-12 07:08] thepixelmonk commented on #28
Having a similar issue, it's just spitting out

`Handlebars.templates["templates/conversations"] = Handlebars.compile("hi");`

Guess handlebars_assets isn't picking it up or something. Not sure what the issue is. I've chained the extensions.

[2012-12-12 07:10] thepixelmonk commented on #36
Getting this as well =/.

[2012-12-12 15:42] jshou commented on #36
any update on this?

[2012-12-12 21:01] jimsynz commented on #36
I'd suggest checking the documentation on [handlebars_assets](https://github.com/leshill/handlebars_assets), since with the v2.0 branch hamlbars isn't doing any compilation.

[2012-12-12 21:02] jimsynz commented on #35
Closing because template compilation will be removed with 2.0, you can use handlebars_assets or ember-rails to compile your templates.

[2012-12-12 21:02] #35 closed, assigned to jimsynz

[2012-12-12 21:04] jimsynz commented on #34
Closing because asset compilation is being removed as of 2.0. You can use ember-rails to compile your templates by naming them "my_template.js.hbs.hamlbars"

[2012-12-12 21:04] #34 closed, assigned to nobody

[2012-12-12 21:05] #36 closed, assigned to jimsynz

[2012-12-12 21:05] #23 closed, assigned to nobody

[2012-12-12 21:06] jimsynz commented on #28
Closing because compilation has been removed from the v2.0 branch.

[2012-12-12 21:06] #28 closed, assigned to nobody

[2012-12-12 21:07] jimsynz commented on #10
Closing because compilation has been removed from the v2.0 branch.

[2012-12-12 21:07] #10 closed, assigned to jimsynz

[2012-12-12 21:07] jimsynz commented on #3
Closing because compilation has been removed from the v2.0 branch.

[2012-12-12 21:07] #3 closed, assigned to nobody

[2012-12-12 21:08] jimsynz commented on #9
Closing because compilation has been removed from the v2.0 branch.

[2012-12-12 21:08] #9 closed, assigned to jimsynz

[2012-12-15 22:51] jacquescrocker opened #40 "Compiling issue (missing quotes)"
When I compile my hamlbars template (`app/assets/javascripts/templates/flash/notice.js.jst.hamlbars`):

[code]

I get the following:

[code]

Notice the quotes are missing and it errors out in the JS.

I'm using Hamlbars 2.0.0 along with handlebars_assets 0.7.1.

Anything I'm doing wrong?

[2012-12-15 22:55] jacquescrocker commented on #40
switching to notice.jst.hamlbars fixed it.

[2012-12-15 22:55] #40 closed, assigned to nobody

[2013-01-05 00:44] Breefield opened #41 "Nested conditionals not supported"
[code]

This parses as haml prior to handlebars.runtime, so the nesting breaks haml.
One can wrap this in :plain, or not nest conditionals. Neither are ideal.

[2013-01-05 01:13] jimsynz commented on #41
Are you using the hamlbars helper?

[code]

[2013-01-17 22:44] mrbrdo opened #42 "Illegal nesting: nesting within plain text is illegal."
Any idea why? I can't get .haml or .hamlbars assets in my javascripts to work, they seem to be rendering the application layout for some reason...

I get this exception when the application.js is included:

[code]

I'm using hamlbars with handlebars_assets to use in javascript (backbone). I'm using Rails 3.2.11 and Haml 3.1.7, Hamlbars 2.0.0

[2013-01-18 02:21] jimsynz commented on #42
Can you paste an example of your templates?

[2013-01-18 02:32] mrbrdo commented on #42
Regardless. Same error no matter if it's totally blank, has like %h3 something or whatever.
Might have to do with haml and rails version, not sure. It works fine with haml-coffee so I don't think there's a big problem on my end.

[2013-01-18 02:33] jimsynz commented on #42
Your templates are named like `sometemplate.js.hbs.hamlbars` ?

[2013-01-18 02:35] mrbrdo commented on #42
yep, just like it said in the docs

[2013-01-18 02:35] jimsynz commented on #42
The illegal nesting error is usually because people are putting actual handlebars tags in the markup, which doesn't work.  Try creating a file called `demoTemplate.js.hbs.hamlbars` inside your assets/javascripts path.

[code]

Then request `/assets/demoTemplate.js`

[2013-01-18 02:37] mrbrdo commented on #42
Well like I said I get the error even if the file is empty. The error occurs in javascript_include_tag "application", so I don't need to even request the file itself. I had it under assets/javascripts/templates
I can't check right now, will have to get back to you
But I'm pretty sure that's not the problem

[2013-01-18 02:38] jimsynz commented on #42
Right, I get that. I want to know if it's a problem with rendering the asset at all, or with including it in the manifest.

[2013-01-18 02:42] mrbrdo commented on #42
I'm pretty sure the problem occurs when it's included, because my page errors out completely, not only the request for the asset.

[2013-01-18 16:57] jboshers commented on #42
I'm having the exact same problem.

Following the Demo config above I get the following:

throw Error("Haml::SyntaxError: Illegal nesting: nesting within plain text is illegal.\n  (in /Users/Desktop/hamltest/app/assets/javascripts/demo.js.hbs.hamlbars)")

[2013-01-18 20:10] jboshers commented on #42
I got it working by using changing the template name to demo.js.hamlbars

I'm also using handlebars_assets FWIW.

[2013-01-22 06:11] #42 closed, assigned to nobody

[2013-02-06 19:01] jimsynz commented on #41
Closing since there has been no response.

[2013-02-06 19:01] #41 closed, assigned to nobody

[2013-02-07 04:20] Breefield commented on #41
Hey James, sorry for not getting back sooner—that works for me :+1:

[2013-02-11 20:32] norman opened #44 "Haml 4.0 will be released on Wednesday, Feb 13 at 13:00 UTC"
Hi, I just wanted to give you a heads up that Haml 4.0 stable is going to be released on Wednesday. Keep in mind that since your gemspec references "haml" with no version, anybody installing your gem after Wednesday will get Haml 4.0 rather than 3.1.x, so you might want to double check to be that your gem is compatible, and if it's not, update your dependency to `< 4.0` until you've had time to pa

[2013-02-11 20:34] jimsynz commented on #44
Thanks for the headsup @norman. I'll run the test suite over it :)

[2013-02-11 20:47] jimsynz commented on #44
Looks like the specs pass, so I'm happy to leave the gemspec as is.  Thanks again for letting me know.

[code]

[2013-02-11 20:47] #44 closed, assigned to nobody

[2013-02-11 21:00] norman commented on #44
Great!

[2013-05-10 19:44] gvt commented on #42
+1 this worked for me too.

[2013-06-10 08:23] ksylvest opened #46 "Upgrade to Compile Using Handlebars 1.0.0"
When integrating with the latest `handlebars_assets` the following error occurs:

[2013-06-10 08:27] jimsynz commented on #46
Hi @ksylvest.  hamlbars doesn't have a dependency on any given version of handlebars. I see that it has legacy versions of the javascripts lying around, which I'll remove, but you should look at updating the handlebars-source gem.

[2013-06-10 08:43] ksylvest commented on #46
@jamesotron Sorry about that. Updating the source fixed it.

[2013-06-10 08:43] #46 closed, assigned to nobody

[2013-06-10 09:49] jimsynz commented on #46
No problem. Glad I could help.

[2013-06-10 16:50] tricknotes opened #48 "Include too old handlebars.js"
hamlbars 2.0.0 includes `vendor/javascripts/handlebars.js`.

[code]

This file causes the problem that this path is resolved before the another one defined by handlebars-source in my project.

Could you bump next version?

[2013-06-10 19:34] #48 closed, assigned to nobody

[2013-06-10 19:35] jimsynz commented on #48
All done. Just depend on `~> 2.0.1` and you'll be set.

[2013-06-10 23:42] tricknotes commented on #48
It works perfectly!!
Great thanks :dizzy:

[2013-06-10 23:43] jimsynz commented on #48
My pleasure :)

[2013-06-23 06:17] mreinsch opened #49 "hamlbars not getting compiled to handlebars?"
Tried to get hamlbars 2.0 with latest ember-rails to run (rails 3.2.13).

I was expecting hamlbars to compile the template to handlebars, as described in the documentation. I used the extension .js.hbs.hamlbars.

But instead, I was getting the raw content of the file when I had config.assets.debug disabled. With config.assets.debug enabled, the browser is trying to load ".js.hamlbars.js" files?! I

[2013-07-02 18:44] maxwellE commented on #42
Changing to example.js.hamlbars also worked for me.

[2013-08-21 23:02] spundun opened #50 "Can't get hamlbars to work with stand alone haml."
https://gist.github.com/spundun/6301220

This gist is not working. Based on the few examples of hamlbars that I can find, this should work.

Is stand alone haml not supported? Am I doing something wrong?

[2013-10-01 19:23] timherby opened #51 "Can't get hamlbars to play nicely with handlebars_assets"
I'm trying to use [hamlbars](https://github.com/jamesotron/hamlbars) with [handlebars_assets](https://github.com/leshill/handlebars_assets), but so far have failed to get them to integrate properly.

Out of the box, I tried including both gems:

[code]

And when I create a file with a .hamlbars file, it gets compiled properly, but by the handlebars_assets Tilt template, not the hamlbars Template c

[2013-10-01 20:06] jimsynz commented on #51
I've commented over on https://github.com/leshill/handlebars_assets/issues/85 about this. Happy to help any way I can, but with handlebars assets stoping over the `.hamlbars` extension, I don't think there's much that can be done.

[2013-10-01 22:20] AlexRiedler commented on #51
I was looking to fix this in leshill/handlebars_assets so the extensions are not so definite.

This week a relatively big change to the gem should occur (and hopefully a fix for this will be included; probably by allowing configuration to which extensions are registered by the handlebars_assets gem).

[2013-10-01 23:18] timherby commented on #51
Hi Alex & James,  thanks for the quick replies.

James, it's great to hear that you'll be removing the default registration for hamlbars.  Even if I remove that line locally, though, it looks like there's the issue with a file name "file.js.hbs.hamlbars" being processed as a haml file (causing issue #42) because "TemplatePath.is_haml?" returns true when looking at the full original extension, rath

[2013-10-03 17:51] AlexRiedler commented on #51
@timherby, so the issue was that there is a race in who handles the '.hamlbars' extension.

Both the gem 'jamesotron/hamlbars' and 'leshill/handlebars_assets' register for the '.hamlbars' extension; as a result whoever was registered last takes priority in compilation. The leshill/handlebars_assets '.hamlbars' extensions just passes through haml, then through handlebars compilation. (which was the

[2013-10-04 02:34] timherby commented on #51
Thanks @AlexRiedler.  That does the trick.  Looking forward to the release

[2013-10-04 02:34] #51 closed, assigned to nobody

[2013-10-09 23:39] robwierzbowski commented on #50
I'd also be interested in an example of using hamlbars as a haml extension as opposed to a standalone executable.

@spundun, did you get this working?

[2013-10-16 15:04] robwierzbowski commented on #50
After looking at your example I have everything working well. All it took was a `-r hamlbars`.

[2013-10-21 06:37] rpocklin commented on #41
Any reason we have to use the `hb` helper?  I find the {{}} syntax easier to read and type, but it seems there's bug(s) with parsing nested `{{handlebars}}` statements eg. if conditions and the like.

[2013-10-21 22:43] jimsynz commented on #41
The main reason is that HTML just sees `{{}}` as text, and won't let you nest text within other text. For example, the following will raise an exception:

[code]

Whereas this won't:

[code]

[2013-10-22 21:13] rpocklin opened #52 "How to pass variable in to disable input?"
With normal HAML, you can disable inputs in the definition by doing:
`%button{:disabled => disabled ? true : nil}`
but in Hamlbars I can't see a way to achieve the same.

I have resorted to `<button {{#if disabled}}disabled{{/if}}>` which kind of defeats the purpose of using hamlbars - is there any way to achieve this?  Part of the problem is browsers intepret `disabled=""` or `disabled="false"` a

[2013-10-22 21:23] jimsynz commented on #52
Try:

[code]

[2013-10-23 08:27] rpocklin commented on #52
Gives the same issue.  I'm using https://github.com/leshill/handlebars_assets to compile, but it still uses this engine.

[2013-10-24 21:07] jimsynz commented on #52
Ah! I thought you were using Ember.  If you just want a handlebars expression you can just do:

[code]

and make the `disabledAttr` helper return something like `"disabled"` or `""` depending on the state.

However, this won't work for you if you want an if statement.  In that case I'd suggest something more like:

[code]

[2013-10-24 22:58] rpocklin commented on #52
Thanks - that will work, but means I have to repeat everything else i've defined in the `%button` tag :(

I might go back to HTML + Handlebars.js - the `hb` helper feels like a 3rd language I don't want to deal with.

[2014-01-09 18:20] robwierzbowski opened #54 "Suggestions on tuning Hamlbars performance?"
Working on an app with ~30 medium sized hamlbars files, hamlbars takes 26 seconds to compile. We're running it as `bundle exec haml -I. -r hamlbars`, with Haml 4.x., from the command line.

Is this normal, or is there something we should be looking at/doing better? Our raw haml files are smaller, but proportionally compile much faster.

[2014-01-10 15:06] robwierzbowski commented on #54
Although now that I look at the source code I think it might be because it's loading Sprockets/Tilt. Thoughts?

[2014-01-19 21:16] arashm opened #55 "hamlbars precompilation not working correctly in rails 4 production environment"
when you do a `RAILS_ENV=production rake assets:precompile` in Rails4 you will get a minified version of JS files. I just realized that hamlbars is not involved in this compilation. I can see haml syntax inside the compiled file:

[code]

This way templates are not rendered in browser. While hamlbars works correctly in development environment and ember didn't log any errors, it took me hours to fi

[2014-01-20 19:11] arashm commented on #55
This was a problem with sprockets cache. If anybody had the same issue, just remove the `tmp/cache/assets` folder and recompile the assets.

[2014-01-20 19:11] #55 closed, assigned to nobody

[2014-04-22 08:32] AntonTrapp opened #58 "Problem with _action and quotes"
[code]

leads during test mode to a _Error: Barber::PrecompilerError: Pre compilation failed_ error:

[code]

The _hb part seems to work / the _action seems to change the quotation

hamlbars (2.1.1)
ember-data-source (0.14)
ember-rails (0.14.1)
ember-source (1.2.0)
ruby-2.1.1

[2014-04-22 08:40] AntonTrapp commented on #58
Quick workaround: instead of

[code]

using

[code]

is working for me. So if there is no serious reason inside the code base this can be closed...

[2014-05-15 05:51] errakeshpd commented on #42
i also faced the same issue with the haml,
Haml::SyntaxError in Notifications#index
Showing /home/pd/proj/ruby/arividam/app/views/notifications/index.html.haml where line #3 raised:
Illegal nesting: nesting within plain text is illegal.

<% @notifications.each do |notification| %>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%=  notification.title

[2014-06-26 18:42] shishirmk opened #60 "How to represent @index variable in the handlebars each loop."
I am planning to use the "@index" used in the first answer to the question in this page http://stackoverflow.com/questions/11884960/how-to-get-index-in-handlebars-each-helper

I get the unexpected token error. So how do i represent that?

[2014-06-26 21:19] jimsynz commented on #60
have you tried `=hb '@index'` ?

[2014-06-26 22:21] shishirmk commented on #60
Yes i have tried it. I got an error **Uncaught SyntaxError: Unexpected token ,**
Some people have reported this error in the stackoverflow answer comments.

[2014-06-26 23:21] jimsynz commented on #60
This is a problem with handlebars.js not hamlbars:

Using the following hamlbars:

[code]

generates:

[code]

I suggest you raise an issue on barber or handlebars.

Cheers.

[2014-06-26 23:21] #60 closed, assigned to nobody

[2014-07-03 20:01] shishirmk commented on #60
@jamesotron Thanks for taking a look at it

[2014-07-11 17:39] LandonSchropp opened #61 "Hamlbars causes an illegal nesting error"
Here's what I've done:
1. I added Hamlbars to the Gemfile: `gem 'hamlbars', '~> 2.1'`. We're already using `handlebars_assets`.
2. I created a new file file at `app/assets/javascripts/test.js.hbs.hamlbars`.
3. I added this to that file: `%p Testing`.

When I open the project in my browser, I get the following error:

[code]

I've also tried removing everything from the `test` file and I still get

[2014-07-24 16:21] KurtPreston commented on #61
+1

[2014-07-25 10:36] hopsor commented on #61
@LandonSchropp @KurtPreston

I was having the same problem but renaming the file to just `test.hamlbars` did the trick.

[2014-07-25 17:13] LandonSchropp commented on #61
@hopsor If you just do `.hamlbars`, how do you compile the raw Handlebars output?

[2014-08-07 22:59] bcackerman opened #62 "Passing a data value to the Options hash"
I have this
`{{#ifValue product_type is="installment"}}`
where `product_type` is a data attribute I'm passing in to the custom `ifValue` helper.  Is this possible yet with hamlbars?

[2014-08-08 05:34] jimsynz commented on #62
I'm sorry, I don't understand the question.

[2014-08-08 12:44] bcackerman commented on #62
Ok so part of the JSON data that I'm passing looks like this
`{ product_type: "credit_line" }`

Then in my haml template.  I have `{{#ifValue product_type is="installment"}}`

I created a helper called `ifValue` which determines if `product_type` is equal to whatever is inside `is=""`

I'm trying to see how to write the `{{#ifValue product_type is="installment"}}` part using your gem and if that's

[2014-08-10 23:18] jimsynz commented on #62
Oh!

[code]

[2014-09-11 22:25] traviswsims opened #63 "Possible to have empty link-to helper?"
Hello all,

Is it possible to have an empty Handlebars link-to helper?  Right now, I've got this:

[code]

Is there a better way to get an empty anchor tag without escaping the empty line?  I'm doing this to add a CSS background image instead of text.  Thanks so much.

[2014-09-11 23:31] jimsynz commented on #63
not really, because the only way that Hamlbars knows you want to generate a handlebars block (`{{#link-to}} ... {{/link-to}}`) instead of expression (`{{link-to ... }}`) is that a block is passed.  You could try something like:

[code]

[2014-09-12 13:40] traviswsims commented on #63
Thanks for your quick response and explanation.  I tried `=hb 'link-to ...' {}` and `=hb 'link-to ...' do end`, but got compilation errors.

This isn't a huge deal to me, I just wanted to make sure there wasn't some syntactic sugar I had missed.  Thanks again.

[2014-09-12 13:40] #63 closed, assigned to nobody

[2015-03-02 17:34] chris-roerig opened #66 "rake hamlbars:template foo/bar"
I created this rake task for quickly generating .hamlbars files in `/templates`. If you want to use this let me know and I'll fork and PR.

https://gist.github.com/chris-roerig/b6d57be82657d17c6c67

[2015-03-03 17:02] jimsynz commented on #66
So wait, it creates empty hamlbars files?  Not sure that's terribly useful, however I would be super excited about a binary and/or rake task that converts hamlbars to handlebars.

[2015-03-04 16:09] chris-roerig commented on #66
NP =D

[2015-05-05 14:33] hendrikstier commented on #61
Are there any news on this issue?

[2016-09-22 15:21] kirkland opened #70 "Demo site doesn't exist"
The demo site linked in the README ( http://hamlbars-demo.herokuapp.com/ ) doesn't seem to exist.

[2016-09-22 21:09] kirkland opened #71 "Fix else documentation"
In the readme, there is an example that says

`= hb 'else' / Notice this line is indented within the original if statement.`

But it should read

`= hb 'else' do / Notice this line is indented within the original if statement.`

[2016-09-22 21:13] kirkland commented on #71
Sorry, my bad. I didn't read the documentation closely enough, and had indented the content inside my else statement, so it wasn't working right.

[2016-09-22 21:13] #71 closed, assigned to nobody

[2016-10-19 08:05] webhive commented on #70
Project looks abandoned.

[2017-04-10 08:19] simmerz opened #72 "Deprecation warning in Rails 5.0 for Sprockets method 'register_engine'"
DEPRECATION WARNING: Sprockets method `register_engine` is deprecated.
Please register a mime type using `register_mime_type` then
use `register_compressor` or `register_transformer`.
https://github.com/rails/sprockets/blob/master/guides/extending_sprockets.md#supporting-all-versions-of-sprockets-in-processors
 (called from <module:Hamlbars> at /[PATH_TO_GEMS]/hamlbars-2.1.1/lib/hamlbars.rb:19)